{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "semi": "off",
        "typescript-eslint/semi": [
            "warn"
        ],
        "typescript-eslint/no-empti-interface": [
            "error",
            {
                "allowSingleExtends": true
            }
        ]
    },
    "extends": [
        "eslint:recomended",
        "plugin:@typescript-eslint/eslint-recomended",
        "plugin@typescript-eslint/recomended",
        "plugin:react-hooks/recomended"
    ]
}